app-service-detail {
    background: #000;
    width: 100%;
    height: 100%;
}

.full {
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.header-app {
    display: flex;
    padding: 10px 20px 0px 20px;

    .title-header {
        width: 100%;
    }
}

.container-app {
    padding: 10px 20px;
}

.wrap-app {
    background: white;
    border-radius: 10px;
}

.padding-app {
    padding: 10px 20px;
}

.footer-app {
    display: flex;
    padding: 10px 20px;
    border-top: 1px solid #ddd;

    button {
        min-width: 50%;
    }
}

.padding-app-title {
    padding: 10px 20px 0px 20px;
}

.wrap-border {
    border-bottom: 1px solid rgb(245, 240, 240);
}

.blockquote-app {
    padding: 10px 20px;
    background: #eee;
    border-radius: 10px;
}

.btn-optional-service-detail {
    width: 100%;
    border-radius: 6px;
    padding: 5px;
    font-size: 14px;
    background: white;
    border: 1px solid #4aa96f;
    color: #4aa96f;
}

.button-item-app {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px 0px;
}

.button-item-app-text {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px 0px;
}

.selected-property {
    color: #4aa96f;
}

.selected-property-text {
    background-color: #4aa96f;
    color: white;
}

.selected-icon-property {
    background-color: #4aa96f;
}

.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input~.checkmark {
    background-color: #fff;
    border: 1px solid #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked~.checkmark {
    background-color: #4aa96f;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.list-service-detail {
    .item-service-detail {
        display: flex;

        .image {
            width: 20%;

            img {
                width: 60px;
                height: 50px;
                border-radius: 4px;
                border: 1px solid #ccc;
            }
        }

        .content {
            width: 80%;
        }
    }
}

.footer-service-detail {
    text-align: center;
    padding: 20px 20px;
}

*:focus {
    outline: none !important;
}

.form-control:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn:focus,
.btn:active,
input:hover,
input:focus,
input:active {
    outline: none !important;
    box-shadow: none;
}

.input-standard {
    background: #eee;
}